@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/fa")

 <div class="wrapper">
    <div class="nav-side-menu">
        <div class="menu-list">

            <ul id="menu-content" class="menu-content">

                <li data-toggle="collapse" data-target="#airports" class="collapsed active">
                    <a href="#"><i class="fa fa-houzz fa-lg"></i> Airports <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="airports">
                    <li>@Ajax.ActionLink("Airports", "AirportIndex", "Classifiers", new AjaxOptions { UpdateTargetId = "bodycontent" }, new { @class = "ajaxSmallLinks" })</li>
                    <li>@Ajax.ActionLink("Airport schemes", "AirportIndex", "Classifiers", new AjaxOptions { UpdateTargetId = "bodycontent" }, new { @class = "ajaxSmallLinks" })</li>
                    <li>@Ajax.ActionLink("Terminals", "TerminalIndex", "Classifiers", new AjaxOptions { UpdateTargetId = "bodycontent" }, new { @class = "ajaxSmallLinks" })</li>
                    <li>@Ajax.ActionLink("Gates", "AirportIndex", "Classifiers", new AjaxOptions { UpdateTargetId = "bodycontent" }, new { @class = "ajaxSmallLinks" })</li>
                </ul>

                <li data-toggle="collapse" data-target="#locations" class="collapsed active">
                    <a href="#"><i class="fa fa-map-marker fa-lg"></i> Locations <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="locations">
                    <li>@Ajax.ActionLink("Cities", "AirportIndex", "Classifiers", new AjaxOptions { UpdateTargetId = "bodycontent" }, new { @class = "ajaxSmallLinks" })</li>
                    <li>@Ajax.ActionLink("Countries", "AirportIndex", "Classifiers", new AjaxOptions { UpdateTargetId = "bodycontent" }, new { @class = "ajaxSmallLinks" })</li>
                </ul>

                <li>
                    <a href="#"><i class="fa fa-plane fa-lg"></i>@Ajax.ActionLink("Planes", "AirportIndex", "Classifiers", new AjaxOptions { UpdateTargetId = "bodycontent" }, new { @class = "ajaxLinks" })</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-clipboard fa-lg"></i>@Ajax.ActionLink("Flights", "AirportIndex", "Classifiers", new AjaxOptions { UpdateTargetId = "bodycontent" }, new { @class = "ajaxLinks" })</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-calendar fa-lg"></i>@Ajax.ActionLink("Time tables", "AirportIndex", "Classifiers", new AjaxOptions { UpdateTargetId = "bodycontent" }, new { @class = "ajaxLinks" })</a>
                </li>
            </ul>
        </div>
    </div>
</div>