@model IEnumerable<Core.Model.Airport>

@{
    ViewBag.Title = "Airports";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_SideBar")
        </div>
        <div class="col-md-10">
            <div class="row">
                <h2>Airports</h2>
            </div>
            <div class="row">
                <input type="button" class="btn btn-default" value="Create new" onclick="location.href = '@Url.Action("AirportCreate", "Classifiers")'"/>
                <p />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-hover" id="linkedtable">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Code)</th>
                            <th>@Html.DisplayNameFor(model => model.City)</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td onclick="location.href = '@Url.Action("AirportEdit", "Classifiers", new {id = item.Id, name = item.Name, code = item.Code, city = item.City})'">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td onclick="location.href = '@Url.Action("AirportEdit", "Classifiers", new {id = item.Id, name = item.Name, code = item.Code, city = item.City})'">
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td onclick="location.href = '@Url.Action("AirportEdit", "Classifiers", new {id = item.Id, name = item.Name, code = item.Code, city = item.City})'">
                                    @Html.DisplayFor(modelItem => item.City.Name)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*
    </div>
    <div class="col-md-1">
        <input type="button" class="btn btn-danger btn-sm" value="Delete" onclick="location.href = '@Url.Action("Delete", "Classifiers", new { id = item.Id })'" />
    </div>
*@