@model IEnumerable<Core.Model.Airport>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_SideBar")
        </div>
        <div class="col-md-10">
            <div class="row">
                <h2>Airports</h2>
            </div>
            <div class="row">
                @Html.ActionLink("Create New", "Create")
            </div>
            <div class="row">
                <div class="col-md-5">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Code)</th>
                            <th>@Html.DisplayNameFor(model => model.City)</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th onclick="location.href = '@Url.Action("Edit", "Classifiers", new {id = item.Id, name = item.Name, code = item.Code, city = item.City})'">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </th>
                                <th onclick="location.href = '@Url.Action("Edit", "Classifiers", new {id = item.Id, name = item.Name, code = item.Code, city = item.City})'">
                                    @Html.DisplayFor(modelItem => item.Code)
                                </th>
                                <th onclick="location.href = '@Url.Action("Edit", "Classifiers", new {id = item.Id, name = item.Name, code = item.Code, city = item.City})'">
                                    @Html.DisplayFor(modelItem => item.City)
                                </th>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*
    <div>
        <input type="button" class="btn btn-primary btn-sm" value="Edit" onclick="location.href = '@Url.Action("Edit", "Classifiers", new
                                                                                                   {
                                                                                                       id = item.Id, name = item.Name, code = item.Code, city = item.City
                                                                                                   })'" />
    </div>
    <div class="col-md-1">
        <input type="button" class="btn btn-danger btn-sm" value="Delete" onclick="location.href = '@Url.Action("Delete", "Classifiers", new { id = item.Id })'" />
    </div>
*@