@using Web.ViewModel
@model IEnumerable<TerminalViewModel>

@{
    ViewBag.Title = "Terminals";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_SideBar")
        </div>
        <div class="col-md-10" id="bodycontent">
            <div class="row">
                <h2>Terminals</h2>
            </div>
            <div class="row">
                <input type="button" class="btn btn-default" value="Create new" onclick="location.href = '@Url.Action("AirportCreate", "Classifiers")'" />
                <p />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-hover" id="linkedtable">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="linkedTableText" onclick="location.href = '@Url.Action("AirportEdit", "Classifiers", new {id = item.Id})'">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>