<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BFly</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fa.all.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="topNavBar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BFly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Find a flight", "Index", "Home")</li>
                <li>@Html.ActionLink("Register on flight", "Index", "Home")</li>
                <li>@Html.ActionLink("Prepare to trip", "Index", "Home")</li>
                @*use identity to hide elements if not admin login*@
                <li>@Html.ActionLink("Classifiers", "Index", "Classifiers")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="body-content" id ="bodycontent">
        @RenderBody()
    </div>
</div>
<div class="container-fluid">
    <p />
    <footer class="well" id="footer">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="footer-copyright">BFly - we provide the best service for you!</h5>
                    <p class="footer-copyright">Here you can find useful information how to prepare to flight, what can you bring on board, information about luggage.</p>
                    <p class="footer-copyright">Contact us if you have any problems or would like to cancel your reservation.</p>
                </div>
                <div class="col-md-3">
                    <h5 class="text-uppercase footer-copyright">Information</h5>
                    <ul class="list-unstyled">
                        <li>@Html.ActionLink("Before flight", "Index", "Home", new object { }, new { @class = "actionLink" })</li>
                        <li>@Html.ActionLink("On board", "Index", "Home", new object { }, new { @class = "actionLink" })</li>
                        <li>@Html.ActionLink("In airport", "Index", "Home", new object { }, new { @class = "actionLink" })</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="text-uppercase footer-copyright">For clients</h5>
                    <ul class="list-unstyled">
                        <li>@Html.ActionLink("Register on flight", "Index", "Home", new object { }, new { @class = "actionLink" })</li>
                        <li>@Html.ActionLink("News", "Index", "Home", new object { }, new { @class = "actionLink" })</li>
                        <li>@Html.ActionLink("Contacts", "Index", "Home", new object { }, new { @class = "actionLink" })</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center">
            <hr style="color:whitesmoke"/>
            <p>&copy; @DateTime.Now.Year - BFly. All rights reserved.</p>
        </div>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @RenderSection("scripts", required: false)
</body>
</html>
